.App {
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.Message-container{
margin: 20px auto;
}

.Form-box{
  width: 100%;
}
